In [ ]:
'''

This code is designed to filter data from a .csv file generated by ABET software based upon user input

Generating a data table and filtering is the first step to aligning behavioral epochs with calcium imaging data

'''

In [55]:
import pandas as pd
import numpy as np

In [131]:
# read in behavioral data as .csv
# eventually will write this more flexibly as a function (so users can give a filename externally)
data = pd.read_csv("74 12042019.csv")

In [43]:
large_rew = data.Arg1_Value == 0.3

In [32]:
forced_trial = data.Group_ID == 9

In [44]:
free_trial = data.Group_ID == 12

In [45]:
filtered  = data[large_rew & free_trial]

In [141]:
#Time values < 0 are housekeeping variables reported by the software. Safe to filter these out so they do not get counted as trials, etc.
filter_time_zero = data.Evnt_Time != 0
filter_time_zero.values
data = data[filter_time_zero]

In [142]:
data.head()

,Evnt_Time,Evnt_ID,Evnt_Name,Item_Name,Alias_Name,Group_ID,Num_Args,Arg1_Name,Arg1_Value,Arg2_Name,Arg2_Value,Arg3_Name,Arg3_Value,Arg4_Name,Arg4_Value,Arg5_Name,Arg5_Value
74,0.022,1,Condition Event,"set HL, WN_Off, Sound2",NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,0.022,3,Output On Event,HouseLight #1,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,0.022,3,Output On Event,Sound #2,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,0.022,3,Output On Event,White_Noise_Off #1,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,0.022,3,Output On Event,Laser #1,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
filtered2.head()

,Evnt_Time,Evnt_ID,Evnt_Name,Item_Name,Alias_Name,Group_ID,Num_Args,Arg1_Name,Arg1_Value,Arg2_Name,Arg2_Value,Arg3_Name,Arg3_Value,Arg4_Name,Arg4_Value,Arg5_Name,Arg5_Value
74,0.022,1,Condition Event,"set HL, WN_Off, Sound2",NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,0.022,3,Output On Event,HouseLight #1,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,0.022,3,Output On Event,Sound #2,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,0.022,3,Output On Event,White_Noise_Off #1,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,0.022,3,Output On Event,Laser #1,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
filtered["Evnt_Time"].values

array([ 791.966,  970.326, 1041.773, 1241.513, 1258.514, 1801.221,
       1838.912, 1946.11 , 2405.271, 3979.185, 4007.705, 4327.107,
       4480.505, 4589.977, 4636.013, 4808.343, 4897.965, 4969.448,
       5139.763, 5163.58 , 5225.797])

In [93]:
data[data['Item_Name'].str.contains("_omission")]

,Evnt_Time,Evnt_ID,Evnt_Name,Item_Name,Alias_Name,Group_ID,Num_Args,Arg1_Name,Arg1_Value,Arg2_Name,Arg2_Value,Arg3_Name,Arg3_Value,Arg4_Name,Arg4_Value,Arg5_Name,Arg5_Value,is_trial_end,is_new_trial,trial_num
16,0.000,16,Variable Event,forcedtrial_omission,NaN,0,1,Value,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,0
18,0.000,16,Variable Event,freetrial_omission,NaN,0,1,Value,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,0
404,145.704,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,4
2919,840.721,16,Variable Event,freetrial_omission,NaN,12,1,Value,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,46
2972,878.722,16,Variable Event,freetrial_omission,NaN,12,1,Value,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,47
3047,925.799,16,Variable Event,freetrial_omission,NaN,12,1,Value,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,48
3241,1016.433,16,Variable Event,freetrial_omission,NaN,12,1,Value,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,51
3464,1103.609,16,Variable Event,freetrial_omission,NaN,12,1,Value,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,54
3514,1141.609,16,Variable Event,freetrial_omission,NaN,12,1,Value,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,55
3582,1180.944,16,Variable Event,freetrial_omission,NaN,12,1,Value,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,56
3628,1218.945,16,Variable Event,freetrial_omission,NaN,12,1,Value,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,57
3797,1298.718,16,Variable Event,freetrial_omission,NaN,12,1,Value,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,60
3832,1336.718,16,Variable Event,freetrial_omission,NaN,12,1,Value,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,61
3883,1374.718,16,Variable Event,freetrial_omission,NaN,12,1,Value,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,62
3918,1412.719,16,Variable Event,freetrial_omission,NaN,12,1,Value,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,63
3969,1450.719,16,Variable Event,freetrial_omission,NaN,12,1,Value,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,64
4006,1488.720,16,Variable Event,freetrial_omission,NaN,12,1,Value,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,65
4050,1526.720,16,Variable Event,freetrial_omission,NaN,12,1,Value,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,66
4110,1566.970,16,Variable Event,freetrial_omission,NaN,12,1,Value,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,67
4180,1604.971,16,Variable Event,freetrial_omission,NaN,12,1,Value,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,68
4449,1738.094,16,Variable Event,freetrial_omission,NaN,12,1,Value,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,72
4502,1779.308,16,Variable Event,freetrial_omission,NaN,12,1,Value,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,73
4756,1903.290,16,Variable Event,freetrial_omission,NaN,12,1,Value,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,77
4931,1990.742,16,Variable Event,freetrial_omission,NaN,12,1,Value,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,79
5041,2055.244,16,Variable Event,freetrial_omission,NaN,12,1,Value,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,81
5153,2119.574,16,Variable Event,freetrial_omission,NaN,12,1,Value,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,83
5199,2163.742,16,Variable Event,freetrial_omission,NaN,12,1,Value,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,84
5340,2235.563,16,Variable Event,freetrial_omission,NaN,12,1,Value,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,86
5382,2273.563,16,Variable Event,freetrial_omission,NaN,12,1,Value,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,87
5547,2372.154,16,Variable Event,freetrial_omission,NaN,12,1,Value,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6540,3062.291,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,108
6667,3203.999,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,111
6685,3241.999,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,112
6721,3279.999,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,113
6835,3344.594,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,115
6877,3382.594,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,116
6910,3420.594,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,117
6938,3479.849,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,118
6984,3546.218,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,119
7017,3584.218,16,Variable Event,forcedtrial_omission,NaN,9,1,Value,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,120
7143,3709.007,16,Variable Event,freetrial_omission,NaN,12,1,Value,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,123
7182,3747.007,16,Variable Event,freetrial_omission,NaN,12,1,Value,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,124
7298,3812.944,16,Variable Event,freetrial_omission,NaN,12,1,Value,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,126
7413,3900.753,16,Variable Event,freetrial_omission,NaN,12,1,Value,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,128
7479,3938.753,16,Variable Event,freetrial_omission,NaN,12,1,Value,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,129
7680,4048.348,16,Variable Event,freetrial_omission,NaN,12,1,Value,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,132
7721,4105.123,16,Variable Event,freetrial_omission,NaN,12,1,Value,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,133
7768,4151.998,16,Variable Event,freetrial_omission,NaN,12,1,Value,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,134
7825,4314.226,16,Variable Event,freetrial_omission,NaN,12,1,Value,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,135
8018,4413.778,16,Variable Event,freetrial_omission,NaN,12,1,Value,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,138
8083,4458.543,16,Variable Event,freetrial_omission,NaN,12,1,Value,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,139
8263,4535.434,16,Variable Event,freetrial_omission,NaN,12,1,Value,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,142
8316,4573.435,16,Variable Event,freetrial_omission,NaN,12,1,Value,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,143
8626,4725.622,16,Variable Event,freetrial_omission,NaN,12,1,Value,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,148
8757,4779.114,16,Variable Event,freetrial_omission,NaN,12,1,Value,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,150
8957,4870.942,16,Variable Event,freetrial_omission,NaN,12,1,Value,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,153
9079,4939.587,16,Variable Event,freetrial_omission,NaN,12,1,Value,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,155
9255,5027.214,16,Variable Event,freetrial_omission,NaN,12,1,Value,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,158
9290,5065.214,16,Variable Event,freetrial_omission,NaN,12,1,Value,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,159
9355,5103.215,16,Variable Event,freetrial_omission,NaN,12,1,Value,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,160

In [91]:
omissions.value_counts()

False    9665
Name: Item_Name, dtype: int64

In [ ]:
is_new_trial = (data.Item_Name == "Forced-Choice Trials Begin") | (data.Item_Name == "Free-Choice Trials begin")
omission_strings = ["freetrial_omission", "forcedtrial_omission"]

In [96]:
is_trial_end = (data.Item_Name == "Feeder #2") | (data['Item_Name'].str.contains("_omission"))

In [97]:
data["is_trial_end"] = is_trial_end

In [98]:
data["is_trial_end"].value_counts()

False    9507
True      158
Name: is_trial_end, dtype: int64

In [111]:
data["trial_num2"] = np.cumsum(data["is_trial_end"])

In [114]:
#filter just the trials where is_trial_end is true
data[is_new_trial]

,Evnt_Time,Evnt_ID,Evnt_Name,Item_Name,Alias_Name,Group_ID,Num_Args,Arg1_Name,Arg1_Value,Arg2_Name,...,Arg3_Name,Arg3_Value,Arg4_Name,Arg4_Value,Arg5_Name,Arg5_Value,is_trial_end,is_new_trial,trial_num,trial_num2
147,60.893,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,1,2
236,89.491,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,2,3
296,102.515,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,3,4
368,115.703,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,4,5
428,153.728,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,5,6
497,170.712,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,6,7
556,187.368,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,7,8
616,201.322,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,8,9
690,223.253,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,9,10
730,233.429,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,10,10
786,252.559,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,11,11
843,265.649,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,12,12
896,281.956,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,13,13
955,295.950,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,14,14
1020,308.934,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,15,15
1079,322.468,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,16,16
1142,336.473,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,17,17
1199,349.133,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,18,18
1256,364.211,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,19,19
1327,377.914,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,20,20
1382,389.913,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,21,21
1441,404.270,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,22,22
1500,415.334,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,23,23
1565,429.520,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,24,24
1626,442.936,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,25,25
1689,455.284,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,26,26
1750,468.011,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,27,27
1809,478.938,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,28,28
1878,492.941,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,29,29
1937,504.356,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,30,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7793,4284.226,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,135,128
7850,4322.227,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,136,129
7931,4352.731,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,137,130
7995,4383.778,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,138,131
8050,4428.543,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,139,132
8113,4467.292,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,140,133
8178,4492.093,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,141,134
8241,4505.434,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,142,135
8296,4543.435,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,143,136
8343,4584.231,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,144,137
8402,4606.309,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,145,138
8469,4647.370,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,146,139
8526,4658.523,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,147,140
8598,4695.622,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,148,141
8668,4736.573,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,149,142
8729,4749.114,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,150,143
8787,4797.809,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,151,144
8856,4820.948,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,152,145
8924,4840.942,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,153,146
8996,4886.055,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,154,147
9061,4909.587,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,155,148
9108,4947.588,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,156,149
9185,4980.165,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,157,150
9240,4997.214,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,158,151
9279,5035.214,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,159,152
9314,5073.215,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,160,153
9383,5111.215,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,161,154
9448,5149.848,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,162,155
9509,5174.078,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,163,156
9581,5210.359,1,Condition Event,Free-Choice Trials begin,NaN,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,True,164,157

In [72]:
data["Item_Name"].value_counts()

Tray #1                                    2238
Bussey Mouse Operant Mode 2 x 1 x low      1200
Group Change                               1140
TrayLight #1                                736
ITI_timer                                   541
FIRBeam #1                                  312
BIRBeam #1                                  198
Presentation_timer                          166
Session5                                    140
Session2                                    140
Session4                                    140
Session1                                    140
Session3                                    140
Laser #1                                    139
If not End of Expt., turns on TrayLight     138
FreeChoice_trials                           138
Are we in Free_Choice Trials                113
If not End of Expt                          113
Free-Choice Trials begin                    113
trial_withinsession_counter                  93
_Trial_Counter                               91
Feeder #2                                    90
Sound_On #1                                  90
ITI (regular)                                90
FreeTrials_counter                           67
Reward Retrieved Free Choice                 66
Define Session2                              58
shock_on_off                                 58
Forced-Choice Trials Begin                   51
Define Session3                              51
                                           ...
S1-Forced-image touch=small                   4
S2-Forced-image touch=small                   4
S3-Forced-image touch=small                   4
S2-Forced-image touch=big                     4
S1-Forced-image touch=big                     4
Background                                    3
_Schedule_Timer                               3
Images                                        3
S2_25_forcedchoice_shock                      2
_Trial_Timer                                  2
HouseLight #1                                 2
S2_25_freechoice_shock                        2
Should we Go to Next Session                  2
S5_100_forcedchoice_shock                     2
S5_100_freechoice_shock                       2
HouseLight_Normally_On                        1
set HL, WN_Off, Sound2                        1
Small_Grid_Position                           1
BigRewLiquid                                  1
SmallRewLiquid                                1
Big_Grid_Position                             1
ToneDuration                                  1
White_Noise_Off #1                            1
Sound #2                                      1
Define End of Experiment                      1
Response_window                               1
ITI_time                                      1
...Left Touch during ITI                      1
TrayLight_Normally_On                         1
shock_duration                                1
Name: Item_Name, Length: 105, dtype: int64

In [83]:
data["is_new_trial"] = is_new_trial

In [84]:
data["is_new_trial"].value_counts()

False    9501
True      164
Name: is_new_trial, dtype: int64

In [102]:
data["trial_num"] = np.cumsum(data["is_new_trial"])

In [103]:
data["trial_num"].max()

164

In [ ]:
data[]